<div class="container max-w-full font-body">
    <div data-aos="fade-down" class="flex flex-col items-center">
        <div class="flex flex-col sm:grid sm:grid-cols-2 pb-2 justify-center">
            <div class="mt-20 grid grid-cols-4 sm:block sm:w-2/3">
                <div class="col-span-1-w-full"></div>
                <img src="assets/images/aboutMe/about-img.jpg" class="col-span-2 shadow-2xl rounded-3xl mb-4">
                <div class="col-span-1-w-full"></div>
            </div>
            <div class="sm:mt-20 sm:flex sm:flex-col sm:h-full sm:justify-center">
                <div class="font-black tracking-widest text-xl lg:text-3xl text-center sm:text-start">ABOUT ME</div>
                <div class="border-t-2 mt-2 sm:w-full hidden sm:block"></div>
                <p class="text-xs lg:text-sm sm:w-9/12 sm:pt-2 sm:pb-2 sm:px-0 p-8 text-justify">
                    As
                    a motivated and
                    driven
                    BS Computer
                    Science
                    student, I am
                    constantly seeking opportunities to expand my knowledge and skills in the ever-evolving world of
                    technology.
                    With a strong foundation in problem-solving and proficiency in programming languages such as Python
                    and
                    C, I
                    am eager to apply my classroom knowledge to real-world projects.</p>

                <div class="sm:mt-6 flex justify-center sm:block">
                    <a href="assets/documents/Resume.pdf" target="_blank" class="cv-link text-xs sm:text-sm">View My
                        CV</a>
                </div>

            </div>
        </div>

    </div>

    <div data-aos="fade-down" class="w-full flex flex-col justify-center sm:my-9 sm:py-9 my-1 items-center font-body">
        <div class="sm:grid sm:grid-cols-8 sm:gap-1">
            <div class="col-span-1 w-full h-full hidden sm:block"></div>
            <div class="flex flex-col col-span-3 justify-center items-center p-8 sm:p-0">
                <p class="sm:text-sm text-xs text-justify">
                    Art has been a significant part of my life since childhood, with a particular fondness for
                    <span class="font-bold text-blue-500">abstract painting</span>. Though I haven't had the chance to
                    paint
                    in recent years due to time constraints, the creative urge still lingers within me.
                    <span class="font-bold text-blue-500">Photography</span> has become my way of preserving beauty and
                    expression, capturing anything visually appealing—whether it's a striking object, a fleeting moment,
                    or
                    a stunning landscape. While I may feel uncertain about my ability to return to painting,
                    photography has kept my artistic spirit alive and thriving.
                </p>
            </div>
            <div class="col-span-1 w-full h-full hidden sm:block"></div>
            <div class="col-span-2 hidden sm:block">
                <swiper-container class="mySwiper" effect="cube" grab-cursor="true" cube-effect-shadow="true"
                    cube-effect-slide-shadows="true" cube-effect-shadow-offset="20" cube-effect-shadow-scale="0.94"
                    autoplay-delay="2500" autoplay-disable-on-interaction="false">
                    <swiper-slide>
                        <img src="assets/images/interests/1.png" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="assets/images/interests/2.png" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="assets/images/interests/3.png" />
                    </swiper-slide>
                    <swiper-slide>
                        <img src="assets/images/interests/4.png" />
                    </swiper-slide>
                </swiper-container>
            </div>
            <div class="col-span-1 w-full h-full"></div>

        </div>
    </div>

    <div data-aos="fade-down" class="w-full flex flex-col justify-center sm:my-10 sm:py-10 my-1 items-center font-body">
        <div class="font-black tracking-widest p-9 text-xl lg:text-3xl">EXPERIENCE</div>
        <div class="max-w-7xl mx-auto w-full grid grid-cols-9">
            <!-- Stack 1 -->
            <div class="col-span-4 w-full h-full">
                <div class="sm:grid sm:grid-cols-3 sm:gap-6 backdrop-blur-sm bg-white/5 rounded-md shadow-xl p-3">
                    <div class="col-span-1 items-center flex flex-row justify-center hidden sm:block">
                        <img src="assets/images/aboutMe/pointwest-logo.png" class="w-fit p-2">

                    </div>
                    <div class="col-span-2 flex flex-col justify-center items-start p-2">
                        <a href="https://pointwest.com.ph" target="_blank" class="no-underline">
                            <h1
                                class="text-sm sm:text-lg font-black text-blue-500 text-md hover:text-blue-700 transition duration-300">
                                POINTWEST</h1>
                        </a>
                        <h1 class="text-sm sm:text-md font-medium ">SOFTWARE ENGINEER INTERN</h1>
                        <p class="sm:text-sm text-xs opacity-50">JULY 2024 - AUGUST 2024</p>
                    </div>

                </div>
            </div>
            <div class="relative col-span-1 w-full h-full flex justify-center items-center">
                <div class="h-full w-0.5 backdrop-blur-sm bg-white/50"></div>
                <div class="absolute rounded-full backdrop-blur-sm bg-white/50 z-10 text-center px-2">2024</div>
            </div>
            <div class="col-span-4 w-full h-full"></div>


            <!-- Stack 2 -->
            <div class="col-span-4 w-full h-full"></div>
            <div class="relative col-span-1 w-full h-full flex justify-center items-center">
                <div class="h-full w-0.5 backdrop-blur-sm bg-white/50"></div>
            </div>
            <div class="col-span-4 w-full h-full">
                <div class="sm:grid sm:grid-cols-3 sm:gap-6 backdrop-blur-sm bg-white/5 rounded-md shadow-xl p-3">
                    <div class="col-span-1 items-center flex flex-row justify-center hidden sm:block">
                        <img src="assets/images/aboutMe/UP-CURSOR.png" class="lg:w-1/2 object-contain p-2">

                    </div>
                    <div class="col-span-2 flex flex-col justify-center items-start p-2">
                        <a href="https://upcursor.com" target="_blank" class="no-underline">
                            <h1
                                class="text-sm sm:text-lg font-black text-blue-500 text-md hover:text-blue-700 transition duration-300">
                                UP
                                CURSOR</h1>
                        </a>
                        <h1 class="text-sm sm:text-md font-medium">ACADEMIC AFFAIRS HR MANAGER</h1>
                        <p class="sm:text-sm text-xs opacity-50">FEBRUARY 2024 - JUNE 2024</p>
                    </div>

                </div>
            </div>

            <!-- Stack 3 -->
            <div class="col-span-4 w-full h-full">
                <div class="sm:grid sm:grid-cols-3 sm:gap-6 backdrop-blur-sm bg-white/5 rounded-md shadow-xl p-3">
                    <div class="col-span-1 items-center flex flex-row justify-center hidden sm:block">
                        <img src="assets/images/aboutMe/UP-CURSOR.png" class="lg:w-1/2 object-contain p-2">

                    </div>
                    <div class="col-span-2 flex flex-col justify-center items-start">
                        <a href="https://upcursor.com" target="_blank" class="no-underline">
                            <h1
                                class="text-sm sm:text-lg font-black text-blue-500 text-md hover:text-blue-700 transition duration-300">
                                UP
                                CURSOR</h1>
                        </a>
                        <h1 class="text-sm sm:text-md font-medium">APPLICATION AFFAIRS FINANCE MANAGER</h1>
                        <p class="sm:text-sm text-xs opacity-50">SEPTEMBER 2023- DECEMBER 2023</p>
                    </div>

                </div>
            </div>
            <div class="relative col-span-1 w-full h-full flex justify-center items-center">
                <div class="h-full w-0.5 backdrop-blur-sm bg-white/50"></div>
                <div class="absolute rounded-full backdrop-blur-sm bg-white/50 z-10 text-center px-2">2023</div>
            </div>
            <div class="col-span-4 w-full h-full"></div>

            <!-- Stack 4 -->
            <div class="col-span-4 w-full h-full"></div>
            <div class="relative col-span-1 w-full h-full flex justify-center items-center">
                <div class="h-full w-0.5 backdrop-blur-sm bg-white/50"></div>
                <div class="absolute rounded-full backdrop-blur-sm bg-white/50 z-10 text-center px-2">2019</div>
            </div>
            <div class="col-span-4 w-full h-full"></div>


            <!-- Stack 5 -->
            <div class="col-span-4 w-full h-full"></div>
            <div class="relative col-span-1 w-full h-full flex justify-center items-center">
                <div class="h-full w-0.5 backdrop-blur-sm bg-white/50"></div>
            </div>
            <div class="col-span-4 w-full h-full">
                <div class="sm:grid sm:grid-cols-3 sm:gap-6 backdrop-blur-sm bg-white/5 rounded-md shadow-xl p-3">
                    <div class="col-span-1 items-center flex flex-row justify-center hidden sm:block">
                        <img src="assets/images/aboutMe/LIFELINKS.png" class="lg:w-1/2 object-contain p-2">

                    </div>
                    <div class="col-span-2 flex flex-col justify-center items-start p-2">
                        <a href="https://www.facebook.com/lifelinksphilippines" target="_blank" class="no-underline">
                            <h1
                                class="text-sm sm:text-lg font-black text-blue-500 text-md hover:text-blue-700 transition duration-300">
                                LIFELINKS</h1>
                        </a>
                        <h1 class="text-sm sm:text-md font-medium">CO-FOUNDER & CO-HEAD</h1>
                        <p class="sm:text-sm text-xs opacity-50">2018 - 2019</p>
                    </div>

                </div>
            </div>

            <!-- Stack 6 -->
            <div class="col-span-4 w-full h-full"></div>
            <div class="relative col-span-1 w-full h-full flex justify-center items-center">
                <div class="h-full w-0.5 backdrop-blur-sm bg-white/50"></div>
                <div class="absolute rounded-full backdrop-blur-sm bg-white/50 z-10 text-center px-2">2018</div>
            </div>
            <div class="col-span-4 w-full h-full"></div>

        </div>
    </div>

    <div class="grid grid-cols-2 mt-9 py-6 backdrop-blur">
        <div class="flex flex-row justify-start items-center ps-9">
            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/in/jamesducay" target="_blank" class="group">
                <!-- target="_blank" opens a new tab instead of loading the page on the same tab -->
                <svg xmlns="http://www.w3.org/2000/svg" height="0.75em"
                    class="fill-white group-hover:fill-blue-500 transition duration-300 mx-2"
                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z" />
                </svg>
            </a>

            <!-- Instagram -->
            <a href="https://www.instagram.com/jdanieldcy" target="_blank" class="group">
                <svg xmlns="http://www.w3.org/2000/svg" height="0.85em"
                    class="fill-white group-hover:fill-blue-500 transition duration-300 mx-2"
                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
                </svg>
            </a>

            <!-- Facebook -->
            <a href="https://www.facebook.com/james.ducay.3" target="_blank" class="group">
                <svg xmlns="http://www.w3.org/2000/svg" height="0.75em"
                    class="fill-white group-hover:fill-blue-500 transition duration-300 mx-2"
                    viewBox="0 0 320 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z" />
                </svg>
            </a>
        </div>

        <div class="flex flex-row justify-end pe-9 text-xs sm:test-sm">
            <p>Send me an email at: jamesdaniel.dcy&#64;gmail.com</p>
        </div>
    </div>

</div>