<div class="grid grid-cols-2 w-full mb-9 pb-9 font-body">
    <div class="">
        <img src="assets/images/aboutMe/about-img.jpg" class="w-2/3 about-me-img">
    </div>
    <div class="flex flex-col h-full justify-center">
        <div class="font-black tracking-widest text-3xl">ABOUT ME</div>
        <div class="border-t-2 mt-2 w-full"></div>
        <p class="text-sm w-9/12 pt-2 text-justify">
            As
            a motivated and
            driven
            BS Computer
            Science
            student, I am
            constantly seeking opportunities to expand my knowledge and skills in the ever-evolving world of
            technology.
            With a strong foundation in problem-solving and proficiency in programming languages such as Python
            and
            C, I
            am eager to apply my classroom knowledge to real-world projects.</p>

        <div class="mt-8">
            <a href="assets/documents/Resume.pdf" target="_blank" class="cv-link">View My CV</a>
        </div>
    </div>
</div>


<div class="w-full flex flex-col justify-center my-9 py-9 items-center font-body">
    <div class="grid grid-cols-8 gap-1">
        <div class="col-span-1 w-full h-full"></div>
        <div class="flex flex-col col-span-3 justify-center items-center">
            <p class="sm:text-sm text-xs text-justify">
                Art has been a significant part of my life since childhood, with a particular fondness for
                <span class="font-bold text-blue-500">abstract painting</span>. Though I haven't had the chance to paint
                in recent years due to time constraints, the creative urge still lingers within me.
                <span class="font-bold text-blue-500">Photography</span> has become my way of preserving beauty and
                expression, capturing anything visually appealing—whether it's a striking object, a fleeting moment, or
                a stunning landscape. While I may feel uncertain about my ability to return to painting,
                photography has kept my artistic spirit alive and thriving.
            </p>
        </div>
        <div class="col-span-1 w-full h-full"></div>
        <div class="col-span-2  w-full">
            <swiper-container class="mySwiper" effect="cube" grab-cursor="true" cube-effect-shadow="true"
                cube-effect-slide-shadows="true" cube-effect-shadow-offset="20" cube-effect-shadow-scale="0.94"
                autoplay-delay="2500" autoplay-disable-on-interaction="false">
                <swiper-slide class="w-full">
                    <img src="assets/images/interests/1.png" />
                </swiper-slide>
                <swiper-slide>
                    <img src="assets/images/interests/2.png" />
                </swiper-slide>
                <swiper-slide>
                    <img src="assets/images/interests/3.png" />
                </swiper-slide>
                <swiper-slide>
                    <img src="assets/images/interests/4.png" />
                </swiper-slide>
            </swiper-container>
        </div>
        <div class="col-span-1 w-full h-full"></div>

    </div>
</div>

<div class="w-full flex flex-col justify-center my-9 py-9 items-center font-body">
    <div class="font-black tracking-widest p-9 text-3xl">EXPERIENCE</div>
    <div class="max-w-7xl mx-auto w-full grid grid-cols-9">
        <!-- Stack 1 -->
        <div class="col-span-4 w-full h-full">
            <div class="grid grid-cols-3 gap-6 backdrop-blur-sm bg-white/5 rounded-md shadow-xl p-3">
                <div class="col-span-1 items-center flex flex-row justify-center">
                    <img src="assets/images/aboutMe/pointwest-logo.png" class="w-fit p-2">

                </div>
                <div class="col-span-2 flex flex-col justify-center items-start p-2">
                    <h1 class="font-black text-blue-500 text-md">POINTWEST</h1>
                    <h1 class="text-md font-medium ">SOFTWARE ENGINEER INTERN</h1>
                    <p class="sm:text-sm text-xs opacity-50">JULY 2024 - AUGUST 2024</p>
                </div>

            </div>
        </div>
        <div class="relative col-span-1 w-full h-full flex justify-center items-center">
            <div class="h-full w-0.5 backdrop-blur-sm bg-white/50"></div>
            <div class="absolute rounded-full backdrop-blur-sm bg-white/50 z-10 text-center px-2">2024</div>
        </div>
        <div class="col-span-4 w-full h-full"></div>


        <!-- Stack 2 -->
        <div class="col-span-4 w-full h-full"></div>
        <div class="relative col-span-1 w-full h-full flex justify-center items-center">
            <div class="h-full w-0.5 backdrop-blur-sm bg-white/50"></div>
        </div>
        <div class="col-span-4 w-full h-full">
            <div class="grid grid-cols-3 gap-6 backdrop-blur-sm bg-white/5 rounded-md shadow-xl p-3">
                <div class="col-span-1 items-center flex flex-row justify-center">
                    <img src="assets/images/aboutMe/UP-CURSOR.png" class="w-1/2 object-contain p-2">

                </div>
                <div class="col-span-2 flex flex-col justify-center items-start p-2">
                    <h1 class="font-black text-blue-500 text-md">UP CURSOR</h1>
                    <h1 class="text-md font-medium">ACADEMIC AFFAIRS HR MANAGER</h1>
                    <p class="sm:text-sm text-xs opacity-50">FEBRUARY 2024 - JUNE 2024</p>
                </div>

            </div>
        </div>

        <!-- Stack 3 -->
        <div class="col-span-4 w-full h-full">
            <div class="grid grid-cols-3 gap-6 backdrop-blur-sm bg-white/5 rounded-md shadow-xl p-3">
                <div class="col-span-1 items-center flex flex-row justify-center">
                    <img src="assets/images/aboutMe/UP-CURSOR.png" class="w-1/2 object-contain p-2">

                </div>
                <div class="col-span-2 flex flex-col justify-center items-start">
                    <h1 class="font-black text-blue-500 text-md">UP CURSOR</h1>
                    <h1 class="text-md font-medium">APPLICATION AFFAIRS FINANCE MANAGER</h1>
                    <p class="sm:text-sm text-xs opacity-50">SEPTEMBER 2023- DECEMBER 2023</p>
                </div>

            </div>
        </div>
        <div class="relative col-span-1 w-full h-full flex justify-center items-center">
            <div class="h-full w-0.5 backdrop-blur-sm bg-white/50"></div>
            <div class="absolute rounded-full backdrop-blur-sm bg-white/50 z-10 text-center px-2">2023</div>
        </div>
        <div class="col-span-4 w-full h-full"></div>

        <!-- Stack 4 -->
        <div class="col-span-4 w-full h-full"></div>
        <div class="relative col-span-1 w-full h-full flex justify-center items-center">
            <div class="h-full w-0.5 backdrop-blur-sm bg-white/50"></div>
            <div class="absolute rounded-full backdrop-blur-sm bg-white/50 z-10 text-center px-2">2019</div>
        </div>
        <div class="col-span-4 w-full h-full"></div>


        <!-- Stack 5 -->
        <div class="col-span-4 w-full h-full"></div>
        <div class="relative col-span-1 w-full h-full flex justify-center items-center">
            <div class="h-full w-0.5 backdrop-blur-sm bg-white/50"></div>
        </div>
        <div class="col-span-4 w-full h-full">
            <div class="grid grid-cols-3 gap-6 backdrop-blur-sm bg-white/5 rounded-md shadow-xl p-3">
                <div class="col-span-1 items-center flex flex-row justify-center">
                    <img src="assets/images/aboutMe/LIFELINKS.png" class="w-1/2 object-contain p-2">

                </div>
                <div class="col-span-2 flex flex-col justify-center items-start p-2">
                    <h1 class="font-black text-blue-500 text-md">LIFELINKS</h1>
                    <h1 class="text-md font-medium">CO-FOUNDER & CO-HEAD</h1>
                    <p class="sm:text-sm text-xs opacity-50">2018 - 2019</p>
                </div>

            </div>
        </div>

        <!-- Stack 6 -->
        <div class="col-span-4 w-full h-full"></div>
        <div class="relative col-span-1 w-full h-full flex justify-center items-center">
            <div class="h-full w-0.5 backdrop-blur-sm bg-white/50"></div>
            <div class="absolute rounded-full backdrop-blur-sm bg-white/50 z-10 text-center px-2">2018</div>
        </div>
        <div class="col-span-4 w-full h-full"></div>

    </div>
</div>