.cv-link {
    font-weight: 500;
    /* Equivalent to font-medium */
    display: inline-block;
}

.cv-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: currentColor;
    transition: width 0.5s;
    margin-top: 4px;
    /* Space below the text before the underline */
}

.cv-link:hover::after {
    width: 100%;
}

swiper-container {
    width: 300px;
    height: 300px;
}

.progress-bar {
    position: fixed;
    width: 100%;
    height: 3px;
    z-index: 100;
}

.filled {
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, rgb(13, 175, 216), rgb(0, 124, 155));
}

.modal-bg {
    background: linear-gradient(180deg, rgba(122, 144, 180, 0.3) 0%, rgba(220, 220, 220, 0) 100%);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.337), 0 6px 20px rgba(0, 0, 0, 0.293);
}

.border-gray-300 {
    border-color: #d1d5db;
    /* Tailwind's gray-300 */
}

.border-green-300 {
    border-color: #22c55e;
    /* Tailwind's green-500 */
}

.border-red-300 {
    border-color: #f87171;
    /* Tailwind's red-500 */
}