swiper-container {
    width: 100%;
    /* padding-top: 50px;
    padding-bottom: 50px; */
}

swiper-slide {
    background-position: center;
    background-size: cover;
    /* width: 400px; */
    /* height: calc(100vh - 30%); */
}

/* swiper-slide img {
    display: block;
    width: 100%;
} */

.slide-image {
    cursor: default;
    transition: transform 0.3s ease;
}

.swiper-slide-active .slide-image {
    cursor: pointer;
}

.swiper-slide-active .slide-image:hover {
    transform: scale(1.1);
}