<nav class="flex grid grid-cols-3 gap-4 items-center pt-7 pb-4 px-8 w-full z-50 fixed">
  <div class="flex-auto justify-start">
    <a class="text-white text-xs ps-4 py-4 font-body" routerLink="/" routerLinkActive="active">HOME</a>
  </div>
  <div class="flex-auto justify-center">
    <a class="text-white hidden sm:inline-block text-xs font-body" routerLink="/"
      routerLinkActive="active">DANIELDCY</a>
  </div>
  <div class="flex-auto pe-4">
    <ul class="justify-end gap-[5vw]">
      <li>
      </li>
      <li><a class="text-white text-xs font-body" routerLink="/about" routerLinkActive="active">ABOUT</a></li>
      <li><a class="text-white text-xs font-body" routerLink="/projects" routerLinkActive="active">PROJECTS</a></li>
    </ul>
  </div>

</nav>