<div class="container mx-auto p-4">
  <div [ngClass]="isModalOpen ? 'block' : 'hidden'"
    class="fixed inset-0 bg-gray-800 bg-opacity-75 flex justify-center items-center">
    <div class="bg-white p-8 rounded-lg shadow-lg w-2/3 h-2/3 relative">

      <!-- Conditional rendering of modals based on selectedProjectId -->
      <ng-container *ngIf="selectedProjectTitle === 'SUPERPOT'">
        <h2 class="text-2xl text-black">SUPERPOT</h2>
        <p class="text-black font-medium">C++ | Arduino IDE | TailwindCSS | Firebase</p>
        <p class="mt-4">A Smart Greenhouse Enclosure System IoT project...</p>
      </ng-container>

      <ng-container *ngIf="selectedProjectTitle === 'ISKO-INFO'">
        <h2 class="text-2xl text-black">ISKO-INFO</h2>
        <p class="text-black font-medium">Ruby on Rails | HTML/CSS | Firebase</p>
        <p class="mt-4">A full-stack web application designed to assist students...</p>
      </ng-container>

      <ng-container *ngIf="selectedProjectTitle === 'GENRE PREDICTOR'">
        <h2 class="text-2xl text-black">GENRE PREDICTOR</h2>
        <p class="text-black font-medium">Python</p>
        <p class="mt-4">A machine learning project using BERT NLP...</p>
      </ng-container>

      <!-- Add more ng-containers for additional projects -->

      <button class="absolute top-2 right-2 text-black" (click)="closeModal()">Close</button>
    </div>
  </div>
</div>