<body style="overflow-x: auto;" class="hide-scrollbar">
    <div class="flex flex-col items-center justify-center w-full h-screen relative">
        <video class="w-full h-full object-cover" autoplay loop disablePictureInPicture muted>
            <source src="assets\videos\waterReflection.mp4" type="video/mp4" />
        </video>

        <div class="grid grid-cols-1 sm:grid-cols-2 font-body text-white gap-4 absolute">
            <div class="flex justify-center sm:justify-end">
                <p
                    class="font-black tracking-widest text-3xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl text-center sm:text-right w-7/12 md:w-8/12">
                    <span class="text-blue-500">JAMES</span> DUCAY
                </p>
            </div>
            <div class="flex justify-center sm:justify-start">
                <p class="font-body text-white text-xs md:text-sm w-7/12 pt-2 text-justify">
                    As
                    a motivated and
                    driven
                    BS Computer
                    Science
                    student, I am
                    constantly seeking opportunities to expand my knowledge and skills in the ever-evolving world of
                    technology.
                    With a strong foundation in problem-solving and proficiency in programming languages such as Python
                    and
                    C, I
                    am eager to apply my classroom knowledge to real-world projects.</p>
            </div>

        </div>

    </div>

</body>